---
import GithubIcon from "./icons/GithubIcon.astro"

const { lang } = Astro.props

// Texts
import { footer } from "../data.json";

const text = footer[lang].text;
const code = footer[lang].code;
---
<footer class="h-full w-full flex justify-center mb-8 p-8">
    <div class="h-full w-[62rem] flex justify-between md:flex-row flex-col">
        <p class="mb-4">{text}</p>
        <a href="https://github.com/nullgaro/portfolio-web" class="flex items-center hover:underline">
            <GithubIcon class="size-4 mr-2"/>
            {code}
        </a>
    </div>
</footer>