---
---
<footer class="h-full w-full flex justify-center mb-8 p-8">
    <div class="h-full w-[62rem] flex justify-between md:flex-row flex-col">
        <p class="mb-4">© 2024 Nullgaro. Casi todos los derechos reservados :)</p>
        <a href="https://github.com/nullgaro/portfolio-web">Código del portfolio</a>
    </div>
</footer>