---
const navItems = [
    {
        title: "Experiencia",
        label: "experiencia",
        url: "/#experiencia",
    },
    {
        title: "Proyectos",
        label: "proyectos",
        url: "/#proyectos",
    },
    {
        title: "Habilidades",
        label: "habilidades",
        url: "/#skills",
    },
    {
        title: "Sobre mí",
        label: "sobre-mi",
        url: "/#sobre-mi",
    },
]
---
<header class="flex flex-row justify-center pt-4">
    <nav class="min-w-96 flex flex-row justify-around bg-slate-500 p-2 rounded-2xl text-sm [&>]:hover:text-yellow-400">
        {
            navItems.map((link) => (
                <a
                class="transition hover:text-yellow-500 dark:hover:text-yellow-400"
                aria-label={link.label}
                href={link.url}
                >
                    {link.title}
                </a>
            ))
        }
        <!-- Special button <a href="/#about">Boton de busqueda (hacer)</a> -->
    </nav>
</header>