---
import SocialPill from "./SocialPill.astro"
import GithubIcon from "./icons/GithubIcon.astro"
import LinkedinIcon from "./icons/LinkedinIcon.astro"
import MailIcon from "./icons/MailIcon.astro"
---
<div class="flex min-h-screen w-full justify-center items-center">
    <div class="flex flex-row justify-evenly h-64 w-[42rem]">
        <img src="/photo.webp" class="size-32 rounded-full">
        <div class="flex flex-col max-w-lg h-full">
            <h1 class="text-3xl font-black mb-4">Hola, soy Daniel Milenov</h1>
            <p class="mb-10">«Versatile developer adept in <span class="text-yellow-400">web, Python, Docker, CI/CD</span>. From frontend finesse to backend brilliance, I tailor solutions to exceed expectations.»</p>
            <div class="flex w-64 justify-between">
                <SocialPill href="mailto:danimilenovvalov@gmail.com">
                <MailIcon class="size-4 mr-2"/>
                Contáctame
                </SocialPill>
                <SocialPill href="https://linkedin.com/in/daniel-milenov">
                <LinkedinIcon class="size-4 mr-2"/>
                LinkedIn
                </SocialPill>
                <SocialPill href="https://github.com/nullgaro">
                <GithubIcon class="size-4 mr-2"/>
                    Github
                </SocialPill>
            </div>
        </div>
    </div>
</div>