---
import DevIcon from "./icons/DevIcon.astro";
import ProjectItem from "./ProjectItem.astro";

import { projects } from "../data.json";

---
<div class="h-full flex justify-center w-full">
    <div class="h-full lg:w-[64rem] md:w-[48rem] p-4">
        <div class="inline-flex flex-row items-center w-52 mb-8">
            <DevIcon class="size-10 mr-2"/>
            <h2 class="text-2xl">Projects</h2>
        </div>
        {projects.map((data) =>
            <ProjectItem {...data}></ProjectItem>
        )}
    </div>
</div>
