<a
    {...Astro.props}
    target="_blank"
    rel="noopener noreferrer"
    role="link"
    class="border-2 border-gray-600 rounded-full px-3 py-1 text-base mr-4 mb-4 inline-flex items-center transition-colors hover:border-gray-100"
>
<slot />
</a>